spring:
  application:
    name: events
  datasource:
    url: jdbc:postgresql://localhost:5432/events
    username: events_user
    password: events_pass
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
          batch_size: 500
        order_inserts: true
        order_updates: true
    show-sql: true
  flyway:
    enabled: true
    validate-on-migrate: true
    locations: classpath:db/migration
    clean-disabled: false